@page "{id?}"
@model SAM2020.Pages.AssignPapersDetailModel
@{
    ViewData["Title"] = "Submit Paper";
    List<Paper> assignedObjects = new List<Paper>();
    var id = RouteData.Values["id"] is null ? -99 : long.Parse(RouteData.Values["id"].ToString());

}

<h1>Pre Select Papers</h1>
@if (id == 1)
{
    <div class="alert alert-success">
        <strong>Your assignment has been recorded.
    </div>
}else if (id == 2)
{
    <div class="alert alert-warning">
        <strong>Sorry, there was something wrong.
    </div>
} else if (id == 3)
{
    <div class="alert alert-info">
        <strong>Please select at least one paper.
    </div>
}
<div class="row">
  <div class="col-6">
    <h2>Available Papers</h2>
    <form method="post">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Paper Information</th>
          <th scope="col">Select</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var paper in @Model.allPapers)
        {
          @if(@paper.author != @Model.selectedUserId & (!@Model.userAssignedPapers.Any(ap => ap.referenceName == @paper.referenceName)))
          {
            <tr>
              <td>
                <div>
                  <h5 class="card-title">@paper.title</h5>
                  <p class="card-text"><b>Author:</b> @paper.authorName</p>
                  @if (@Model.userPreselection.Contains(@paper.id))
                  {
                    <span>PRE-SELECTED PAPER BY THE USER</span>
                  }
                </div>
              </td>
              <td>
                <input type="checkbox" name="CheckedPapers" value="@paper.referenceName">
              </td>
            </tr>
          }
        }
      </tbody>
      </table>
      <button type="submit" class="btn btn-success">Assign</button>
    </form>
  </div>
  <div class="col-6">
    <h2>Assigned Papers</h2>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Paper Information</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var paper in @Model.userAssignedPapers)
        {
        <tr>
          <td>
            <div>
                <h5 class="card-title">@paper.title</h5>
                <!-- TODO: Use author name -->
                <p class="card-text"><b>Author:</b> @paper.authorName</p>
            </div>
          </td>
        </tr>
        }
      </tbody>
      </table>
  </div>
</div>
