@page "{id?}"
@model SAM2020.Pages.ManageUsersModel
@{
  ViewData["Title"] = "Manage Users";
  var id = RouteData.Values["id"] is null ? -99 : long.Parse(RouteData.Values["id"].ToString());
}

<h1>Manage Users</h1>

@if (id == 0)
{
  <div class="alert alert-success">
    User Sucessfully Created.
  </div>
}
@if (id == 1)
{
  <div class="alert alert-success">
    User Sucessfully Deleted.
  </div>
}
@if (id == 2)
{
  <div class="alert alert-danger">
    There was something wrong.
  </div>
}
@if (id == 4)
{
  <div class="alert alert-success">
    User Sucessfully Modified.
  </div>
}
<!-- Todo: Add pagination -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var user in Model.userList) {
    <tr>
      <th scope="row">@user.id</th>
      <td>@user.name</td>
      <td>@user.userEmail</td>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@String.Concat("#", "editModal", @user.id)">
          Edit
        </button>
        <!-- Edit User Modal -->
        <div class="modal fade" id="@String.Concat("editModal", @user.id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form method="post" style="display: inline;">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit @user.userEmail</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input type="hidden" class="form-control" name="userid" value="@user.id">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" value="@user.userEmail" required>
                  </div>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" name="name" value="@user.name" required>
                  </div>
                  <div class="form-group">
                    <label for="role">Role</label>
                    <select name="role">
                      <option selected="@user.role.Equals((Roles.ADMIN).ToString())" value="@(Roles.ADMIN)">Admin</option>
                      <option selected="@user.role.Equals((Roles.AUTHOR).ToString())" value="@(Roles.AUTHOR)">Author</option>
                      <option selected="@user.role.Equals((Roles.PCC).ToString())" value="@(Roles.PCC)">PCC</option>
                      <option selected="@user.role.Equals((Roles.PCM).ToString())" value="@(Roles.PCM)">PCM</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" value="@user.password" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@String.Concat("#", "deleteModal", @user.id)">
          Delete
        </button>
        <!-- Delete User Modal -->
        <div class="modal fade" id="@String.Concat("deleteModal", @user.id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form asp-page-handler="delete" method="POST" style="display: inline;">
                <input type="hidden" name="selectedUser" value="@user.userEmail" />
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this user (@user.userEmail)?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </td>
    </tr>
  }
  </tbody>
</table>
<a href="/createuser">
  <button type="button" class="btn btn-primary">Add New User</button>
</a>