@page "{id?}"
@model SAM2020.Pages.MyPapersModel
@{
    ViewData["Title"] = "My Papers";
    var id = RouteData.Values["id"] is null ? -99 : long.Parse(RouteData.Values["id"].ToString());
    var host = "/papers/";
}

<div>
  <h1>My Papers</h1>
  @if (id == 1)
  {
    <div class="alert alert-danger">
        Please select a file.
    </div>
  }
  @if (id == 2)
  {
    <div class="alert alert-danger">
        Something was wrong submitting your paper.
    </div>
  }
  @if (id == 3)
  {
    <div class="alert alert-success">
        Your paper was uploaded successfully.
    </div>
  }

  @if (Model.userPapers.Count == 0) {
    <div class="alert alert-primary">
      You have not submitted any document yet.
    </div>
  }
  else 
  {
    @foreach (var paper in @Model.userPapers)
    {
        {
          var accordionId = "optionsAccordion" + paper.id;
        }
        <div class="card" style="margin-bottom: 15px;">
          <div class="card-body">
            <h5 class="card-title">@paper.title</h5>
            <h6 class="card-subtitle mb-2 text-muted">@paper.topic</h6>
            <p class="card-text"><b>Co-Authors:</b> @paper.coAuthors</p>
            <p class="card-text"><b>Date:</b> @paper.submissionDate</p>
            <p class="card-text"><b>Versions:</b> @paper.version</p>
            <div class="accordion" id="@String.Concat("accordion", @paper.id)">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="@String.Concat("#", "collapse1", @paper.id)" aria-controls="collapseOne">
                      Files
                    </button>
                  </h2>
                </div>
                <div id="@String.Concat("collapse1", @paper.id)" class="collapse" aria-expanded="false" aria-labelledby="headingOne" data-parent="@String.Concat("#", "accordion", @paper.id)">
                  <div class="card-body">
                      @{
                        int paperFileNumber = 1;
                      }
                      @foreach (var file in @paper.fileList) {
                        <a
                          href="@String.Concat(host, file)"
                          target="_blank"
                          class="card-link">
                            @String.Concat("Version ", paperFileNumber)
                        </a>
                        {paperFileNumber = paperFileNumber + 1;}
                      }
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="@String.Concat("#", "collapse3", @paper.id)" aria-expanded="false" aria-controls="collapseThree">
                      <span>
                        Final Review
                      </span>
                    </button>
                  </h2>
                </div>
                <div id="@String.Concat("collapse3", @paper.id)" class="collapse" aria-labelledby="headingThree" data-parent="@String.Concat("#", "accordion", @paper.id)">
                  <div class="card-body">
                    @if (String.IsNullOrEmpty(@paper.finalReview))
                    {
                      <div class="alert alert-danger">
                        Review not provided yet.
                      </div>
                    }
                    else {
                      <p>
                        @paper.finalReview
                      </p>
                    }
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="@String.Concat("#", "collapse2", @paper.id)" aria-expanded="false" aria-controls="collapseTwo">
                      Upload new version
                    </button>
                  </h2>
                </div>
                <div id="@String.Concat("collapse2", @paper.id)" class="collapse" aria-labelledby="headingTwo" data-parent="@String.Concat("#", "accordion", @paper.id)">
                  <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                      <div>
                        <input type="hidden" name="title" value="@paper.title">
                        <input type="hidden" name="reference_name" value="@paper.referenceName">
                        <input type="hidden" name="co_authors" value="@paper.coAuthors">
                        <input type="hidden" name="topic" value="@paper.topic">
                        <input type="hidden" name="author" value="@paper.author">
                        <input type="hidden" name="version" value="@paper.version">
                      </div>
                      <div>
                        <input type="file" name="newFile" accept="application/pdf,application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" style="display: block; margin-bottom: 10px;">
                        <button type="submit" class="btn btn-success">Submit</button> 
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    }
  }
</div>
